body {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 15%);
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6
}

h1,
h2,
h3 {
    line-height: 1.2;
}

a {
    all: unset;
    cursor: pointer;
    color: hsl(0, 0%, 15%);
}

.topbar {
    width: 100%;
    padding: 5px 0px;
    z-index: 1;

    display: flex;
    justify-content: end;
    position: fixed;
}

.topbar a {
    margin: 0px 20px;
}

.introduction {
    height: auto;
    aspect-ratio: 16 / 9;
    width: 100%;

    background-image: linear-gradient(#bce5a1, #a2d5ef);
}

.introduction-content {
    position: absolute;
    /* TOP | RIGHT | DOWN | LEFT */
    margin: 5% 10% 5% 60%;
}

.introduction img {
    position: absolute;
    width: 100%;
    height: auto;
    background-size: contain;
    mask-image: linear-gradient(to right,
            rgba(0, 0, 0, 1) 30%,
            rgba(0, 0, 0, 0) 70%);
}

.dashed-line {
    border: none;
    border-top: dashed;
    margin: 10px 10px;
}

.segment {
    width: 100%;
}

.segment h2 {
    margin: 10px auto 20px auto;
    padding: 0px 20px;
    max-width: 650px;
}

.segment p {
    text-indent: 1em;
    margin: 0px auto;
    padding: 0px 20px;
    max-width: 650px;
}

.align-colon b {
    display: inline-block;
    width: 30%;
    position: relative;
    padding-right: 10px;
}

.align-colon b::after {
    content: ":";
    position: absolute;
    right: 10px;
}