:root {
    --topbar-height: 6em;
    --primary-color: rgb(149, 78, 78);
    --secondary-color: rgb(106, 58, 58);
    --normal-font-color: rgb(216, 193, 193);
    --normal-font-size: 1.5em;
}

.logo-text {
    font-weight: bold;
    font-size: 4em;
}

body {
    margin: 0;
    padding-top: var(--topbar-height);
    background-color: var(--primary-color);
    color: var(--normal-font-color);
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--normal-font-size);
}

.topbar {
    top: 0;
    position: fixed;
    height: var(--topbar-height);

    display: flex;
    align-items: center;

    background-color: var(--secondary-color);
    width: 100%;
}


.collumn {
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.row {
    display: flex;
    align-items: center;
}

.row>* {
    height: 20em;
    margin: 1em;
}