<section id="introduction">
    <h2>Jason Saputra Ang</h2>
    <p>
        Hi! I'm a university student with a passion for software development, game
        development, embedded projects, and art. I love learning, creative problem
        solving and tinkering.
    </p>
</section>
<script>
    const searchParams = new URLSearchParams(window.location.search);
    const isUwU = searchParams.get("uwu") === "true";

    if (isUwU) {
        document.getElementById("introduction")?.classList.add("ace-flag")
    }
</script>

<style>
    #introduction {
        background-color: var(--mantle);
        aspect-ratio: 8;
        padding: 5%;
    }

    #introduction h2 {
        margin: 0px;
    }

    .ace-flag {
        background-image: linear-gradient(
            135deg,
            transparent,
            transparent 10%,
            var(--black) 10%,
            var(--black) 20%,
            var(--gray) 20%,
            var(--gray) 30%,
            var(--white) 30%,
            var(--white) 40%,
            var(--mauve) 40%,
            var(--mauve) 50%,
            transparent 50%
        );
        text-shadow:
            -1px -1px 0 var(--base),
            1px -1px 0 var(--base),
            -1px 1px 0 var(--base),
            1px 1px 0 var(--base),
            -1px 0px 0 var(--base),
            1px 0px 0 var(--base),
            0px -1px 0 var(--base),
            0px 1px 0 var(--base);
    }
</style>