---
import { Picture } from "astro:assets";
import theHuman from "../assets/images/the-human.jpg";
import itsMe from "../assets/images/its-me.png";
import DownloadIcon from "../assets/images/download-icon.svg";
import LinkList from "./LinkList.astro";
import Image from "astro/components/Image.astro";
---

<section id="introduction" class="introduction">
  <div class="introduction-text">
    <h1>Jason Saputra Ang</h1>
    <p>
      Hi! I'm a university student with a passion for software development, game
      development, embedded projects, and art. I love learning, creative problem
      solving and tinkering. May this portfolio be an impressive one!
    </p>
    <div class="introduction-bottom">
      <LinkList />
      <a class="download-cv" href="/cv.pdf">
        <Image src={DownloadIcon} alt="my cv!!!" width={32} class="invert-dark" />
        <p>or download my CV!</p>
      </a>
    </div>
  </div>
  <Picture
    src={theHuman}
    formats={["avif", "webp"]}
    alt="it's... me?"
    layout="constrained"
    class="person"
    id="person"
    loading="eager"
  />
  <Picture
    src={itsMe}
    formats={["avif", "webp"]}
    alt="it's me!"
    layout="constrained"
    class="its-me hidden"
    id="me"
    loading="eager"
  />
</section>
<script>
  const searchParams = new URLSearchParams(window.location.search);
  const isUwU = searchParams.get("uwu") === "true";

  const introduction = document.getElementById("introduction");
  if (introduction && isUwU) {
    introduction.classList.add("ace-flag");
    introduction.getElementsByTagName("h1")[0].innerText = "Citrus";
    document.getElementById("person")?.classList.add("hidden");
    document.getElementById("me")?.classList.remove("hidden");
  }
</script>

<style>
  .introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--mantle);
  }

  @media (max-width: 640px) {
    .introduction {
      flex-direction: column;
      padding: 16px 16px;
    }
  }

  .introduction-text {
    display: flex;
    flex-direction: column;
    margin: 0px 16px 0px 128px;
    width: 50%;
    max-width: 540px;
  }

  @media (max-width: 640px) {
    .introduction-text {
      margin: 0px 0px;
      width: 100%;
    }
  }

  .introduction-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
  }

  .download-cv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--surface-0);
    transition: 0.4s;
  }

  .download-cv p {
    transform: translateY(-2px); /* align text to optical center */
    margin-right: 6px;
  }

  .download-cv:hover {
    box-shadow: 0 0 4px var(--rosewater);
  }

  .person,
  .its-me {
    height: 256px;
    width: 256px;
    object-fit: cover;
    object-position: 0% 25%;
  }

  .hidden {
    display: none;
  }

  .ace-flag {
    background-image: linear-gradient(
      135deg,
      transparent,
      transparent 10%,
      var(--black) 10%,
      var(--black) 20%,
      var(--gray) 20%,
      var(--gray) 30%,
      var(--white) 30%,
      var(--white) 40%,
      var(--mauve) 40%,
      var(--mauve) 50%,
      transparent 50%
    );
  }

  .ace-flag .introduction-text {
    padding: 16px;
    background-color: color-mix(in oklab, var(--base) 50%, transparent 0%);
  }
</style>
