<section id="introduction">
    <h1>Jason Saputra Ang</h1>
    <p>
        Hi! I'm a university student with a passion for software development, game
        development, embedded projects, and art. I love learning, creative problem
        solving and tinkering.
    </p>
</section>

<style>
    #introduction {
        background-color: lightblue;
    }
</style>