---
import { getCollection } from "astro:content";
import Project from "./Project.astro";

const simpleProjects = await getCollection("simple_projects");
---

<section id="personal-projects" class="personal-projects">
  <h2>Personal Projects</h2>
  <div class="project-container">
    {
      simpleProjects.map((project) => (
        <Project
          name={project.data.name}
          description={project.data.description}
          repo_url={project.data.repo_url}
          google_drive_url={project.data.google_drive_url}
        />
      ))
    }
  </div>
</section>

<style>
  .personal-projects {
    max-width: 720px;
    margin: auto;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }
</style>
