---
import GithubIcon from "../assets/images/github-icon.svg";
import { getCollection } from "astro:content";

const simpleProjects = await getCollection("simple_projects");
---

<section id="projects" class="projects">
  <h2>My Projects</h2>
  <div class="project-container">
    {
      simpleProjects.map((project) => (
        <div class="project">
          <div class="project-heading">
            <h3> {project.data.name} </h3>
            <div class="links">
              <a href={project.data.repo_url}>
                <img src={GithubIcon.src} width="32" class="logo" />
              </a>
            </div>
          </div>
          <p> {project.data.description} </p>
        </div>
      ))
    }
  </div>
</section>

<style>
  .projects {
    max-width: 720px;
    margin: auto;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  .project {
    padding: 32px;
    margin: 8px;
    background-color: var(--surface-0);
    border-radius: 16px;
  }

  .project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .project-heading h3 {
    margin: 0px;
  }
</style>
