<div class="topbar">
  <nav>
    <a href="/">About Me</a>
  </nav>
  <button id="dark-mode-toggle">toggle dark mode</button>
</div>

<style>
  .topbar {
    position: sticky;
    top: 0px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--crust);
  }

  .topbar nav {
    margin-left: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
</style>

<script>
  const darkModeToggle = document.getElementById("dark-mode-toggle");
  darkModeToggle?.addEventListener("click", toggleDarkMode);

  function toggleDarkMode() {
    const html = document.getElementsByTagName("html")[0];
    const currTheme = html.getAttribute("data-theme");
    const newTheme = currTheme === "light" ? "dark" : "light";
    html.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  }
</script>
