---
import DarkModeToggle from "./DarkModeToggle.astro";
---

<div class="topbar">
  <nav>
    <a href="/" preserve-search>About Me</a>
  </nav>
  <DarkModeToggle />
</div>

<style>
  .topbar {
    position: sticky;
    top: 0px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: var(--crust);
    z-index: 1000;
  }

  .topbar nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-2px); /* align text to optical center */
  }
</style>
